@font-face {
  font-family: "font_family"; /* Project id 3666687 */
  src: url('iconfont.woff2?t=1663895544366') format('woff2'),
       url('iconfont.woff?t=1663895544366') format('woff'),
       url('iconfont.ttf?t=1663895544366') format('truetype');
}

.font_family {
  font-family: "font_family" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shanchu:before {
  content: "\e601";
}

.icon-zuojiantou:before {
  content: "\e602";
}

.icon-youjiantou:before {
  content: "\e603";
}

.icon-shouji:before {
  content: "\e604";
}

.icon-dianzan2:before {
  content: "\e605";
}

.icon-wode:before {
  content: "\e606";
}

.icon-wenda:before {
  content: "\e607";
}

.icon-guanbi:before {
  content: "\e608";
}

.icon-fenxiang:before {
  content: "\e609";
}

.icon-zuopin:before {
  content: "\e60a";
}

.icon-yuedu:before {
  content: "\e60b";
}

